.senti_venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.git/
.gitignore

.dvc/
.dvcignore

mlflow.db
mlruns/
mlartifacts/

outputs/cleaned_data/
outputs/cleaned_split_data/
outputs/nlp_classification_model/checkpoint-*/

data/

.env

.ipynb_checkpoints/
*.ipynb

pytest_cache/
.pytest_cache/

dist/
build/
*.egg-info/

.vscode/
.idea/