/data/
/outputs/cleaned_data/
/outputs/cleaned_split_data/
.senti_venv/

# mlflow
mlartifacts/
mlflow.db

# model artifacts
/outputs/nlp_classification/model/
/outputs/encoders/

# Hugging Face Training checkpoints
outputs/nlp_classification/checkpoints-*/

# Python
__pycache__/
*.pyc

# outputs
outputs/

# MLflow local storage
mlartifacts/
mlflow.db

# Hugging Face checkpoints
checkpoint-*
**/checkpoint-*

# enviroments
.senti_venv