/data/
/outputs/cleaned_data/
/outputs/cleaned_split_data/
.senti_venv/
/outputs/*
!/outputs/nlp_classification_model/
/outputs/nlp_classification_model/*
!/outputs/nlp_classification_model/test_metrics.json
!/outputs/nlp_classification_model/demo_df.csv
!/outputs/nlp_classification_model/cm.csv

# mlflow
mlartifacts/
mlflow.db

# model artifacts
/outputs/nlp_classification/model/
/outputs/encoders/

# Hugging Face Training checkpoints
outputs/nlp_classification/checkpoints-*/

# Python
__pycache__/
*.pyc



# MLflow local storage
mlartifacts/
mlflow.db

# Hugging Face checkpoints
checkpoint-*
**/checkpoint-*

# enviroments
.senti_venv